label{
    color: #022C4D !important;
}

.card-body-twalang{
    border: transparent !important;
}

.home-galery{
    min-height: 90vh;
    background-size: cover;
    background-position: bottom;
    background-color: dodgerblue;
    background-attachment: fixed;
}

.sub-title-2 {
    color: #022C4D;
}

.card-experience {
    text-decoration: none;
}

.card-experience:hover {
    transform: scale(1.005);
    transition: .5s ease;
}

.dashboardss{
    color:white; background: linear-gradient(to right, #0039b3, #3392ff, #33b1ff ); 
    padding: 10px 10px 10px 10px; 
}

.list-group-item-twalang {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
  }

.link-twalang{
  display: block;
  padding: 0.5rem 1rem;
  color: white !important;
}

.text-twalang{
    color: #022C4D;
}

.experience-heading{
    margin-top:55px;;
    min-height: 80vh;
    background-color:#1079D3;
}

.experience-heading-image-left{
    min-height: 50vh;
    background-color: floralwhite;
    border-radius: 10px;;
}

.experience-heading-image{
    min-height: 50vh;
    background-color: floralwhite;
    border-radius: 10px;
}

.experience-heading-title{
    color: floralwhite;
}

.experience-detail-harga{
    background-color: #F0F0F0;
    min-height: 150px;
}

.kategori-alam-liar{
    color: white;
    border-radius: 5px;
    background-color: #70AFE5;
    text-align: center;
}

.experience-show-item{
    padding-top: 20px;
    padding-bottom: 20px;;
}

.activity-list{

}

.activity-content{
    border-left: 1px solid #083B67;
    min-height: 100px;
}

.activity-show-image{
    border-radius: 10px;
    height: 150px;
    width: 250px;
}

.host-show-image{
    height: 150px;
    width: 150px;
    background-color: #083B67;
    border-radius: 50%;;
}

.comment{
    border-bottom: 1px solid #083B67;
}

.comment-item{
    margin:20px;
}

.similar-experience{
    min-height: 300px;
    background-color:#F7F7F7;
    padding: 50px;
}

.main-sidebar{
    padding:15px;
    height: 100vh;
    min-width: 250px;;
    width: 15vw;
    background-color: #1C519B;
}

.main-dashboard{
    background-color: #E6E6E6;
    width: 100vw;
    height: 100vh;
}

.dashboard-host-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #F7F7F7;
}

.dashboard-menu{
    text-align: end;
    list-style-type: none;
}

.dashboard-menu-item{
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.dashboard-menu-item:hover{
    background-color:white ;
    color:#1C519B ;
}

.pre-hosting-1-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
    animation-name: fadeInLeft ;
    animation-duration: 3s;   
}

.create-experience-image-heading{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
    animation-name: fadeInLeft;
    animation-duration: 5s;
}

.pre-hosting-caption {
    padding: 10px;
    animation-name: fadeInRight;
    animation-duration: 3s;
}

.pre-hosting-nav{
    height: 50px;
    width: 50px;
    border: #022C4D solid 1px;
    border-radius: 50%;
    text-align: center;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    
    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.card-scrollable{
    flex: 0 0 auto;
}

.scrolling-wrapper::-webkit-scrollbar {
    -webkit-overflow-scrolling: touch;
    display: none;
}

.rounded{
    border-radius: 999px;
}

.time-active{
    background-color: #1079D3;
    color: white;
}